.list-tags {
  position: absolute;
  top: 1em;
  right: 1em;
  width: 80px;
  display: flex;
  gap: 0.4em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 1px solid #818292;
  background-color: rgba(0, 0, 0, 0.75);
}

.tag {
  width: 100%;
  color: #fff;
  font-weight: bold;
  font-size: 13px;
  text-align: center;
  cursor: pointer;
}

.tag:hover {
  color: #3448c5;
}
